<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="bg-gray-100 p-8 border-2 border-gray-200">
<div th:if="${message}" class="fixed top-0 left-0 w-full bg-green-500 text-white text-center py-2 message-container">
    <p th:text="${message}"></p>
</div>
<div th:if="${error}" class="fixed top-0 left-0 w-full bg-red-500 text-white text-center py-2 message-container">
    <p th:text="${error}"></p>
    <p th:text="${error}"></p>
</div>
<div th:replace="fragment :: header"></div>
    <div class="flex flex-wrap -mx-4 mt-2">
        <div th:each="event : ${events}" class="w-full sm:w-full md:w-1/3 px-4 mb-8">
            <div class="flex flex-col min-h-full bg-white rounded-lg shadow-lg hover:shadow-2xl">
                <img th:src="${event.image}" alt="" class="object-fill w-full rounded-lg rounded-b-none md:h-56">
                <div class="flex flex-col w-full md:flex-row">
                    <div class="flex flex-row justify-around p-4 font-bold leading-none text-gray-800 uppercase bg-gray-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4">
                        <div class="md:text-xl" th:text="${#temporals.format(event.startDateTime, 'MMM')}"></div>
                        <div class="md:text-2xl" th:text="${#temporals.format(event.startDateTime, 'dd')}"></div>
                        <div class="md:text-xl" th:text="${#temporals.format(event.startDateTime, 'h a')}"></div>
                    </div>
                    <div class="p-4 font-normal text-gray-800 md:w-3/4 w-full">
                        <h1 class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-800" th:text="${event.title}"></h1>
                        <div class="flex flex-row flex-wrap w-full px-4 py-2 overflow-hidden text-sm text-justify text-gray-700">
                            <p class="line-clamp-3 overflow-ellipsis" th:text="${event.description}"></p>
                        </div>
                        <div class="flex flex-row items-center mt-4 text-gray-700">
                            <div class="w-1/2" th:text="${event.location}"></div>
                            <div class="w-1/2 flex justify-end">
                                <a th:href="@{/events/{id}(id=${event.id})}" class="px-4 py-2 text-sm font-bold text-white uppercase bg-gray-800 rounded hover:bg-gray-700">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="fragment :: footer"></div>
<script>
    function hideMessageContainers() {
        var messageContainers = document.querySelectorAll('.message-container');
        messageContainers.forEach(function(container) {
            container.style.display = 'none';
        });
    }
    setTimeout(hideMessageContainers, 4000);
</script>
</body>
</html>