<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
404 - Page not found

You will be redirected to the main page in <span id="countdown"></span> seconds.



</body>

<script>
    setTimeout(function () {
        window.location.href = "/";
    }, 3000);


    var seconds = 3;
    var countdown = document.getElementById('countdown');
    setInterval(function() {
        seconds--;
        countdown.innerHTML = seconds;
    }, 1000);
</script>
</html>