<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title> Reservation Form</title>
</head>

<body class="bg-gray-100 p-8" style="background-image: url('/images/food1.png');">
<div class="min-h-screen flex items-center justify-center">
    <div class="max-w-[900px] w-3/4 bg-white p-6 rounded-md shadow-md mt-5">
        <img src="/images/Logo_Main.png" alt="logo" class="w-32 h-32 mx-auto mb-5 rounded-full border border-gray-300 shadow-md" />

        <h1 class="text-3xl font-bold text-center text-gray-900">Reservation Form</h1>
        <p class="text-3xl font-light text-center text-gray-900">Fill the following form to reserve a room. </p>

        <form th:action="@{/book}" method="post">
        <div class="flex space-x-5">
            <div class="mb-4">
                <label for="first_name" class="block text-gray-700 font-bold mb-2">First Name:</label>
                <input type="text" id="first_name" name="first_name" class="w-full p-2 border rounded-md"
                       th:field="${booking.firstName}"/>
                <div th:if="${#fields.hasErrors('booking.firstName')}" th:errors="*{booking.firstName}"
                     class="text-red-500"></div>
            </div>


            <div class="mb-4">
                <label for="first_name" class="block text-gray-700 font-bold mb-2">Last Name:</label>
                <label for="lastname"></label><input type="text" id="lastname" name="last_name" class="w-full p-2 border rounded-md"
                                                     th:field="${booking.lastName}"/>
                <div th:if="${#fields.hasErrors('booking.lastName')}" th:errors="*{booking.lastName}"
                     class="text-red-500"></div>
            </div>

        </div>

        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
            <input type="email" id="email" name="first_name" class="w-full p-2 border rounded-md"
                   th:field="${booking.email}"/>
            <div th:if="${#fields.hasErrors('booking.lastName')}" th:errors="*{booking.email}"
                 class="text-red-500"></div>
        </div>




            <div class="mb-4">
                <label for="countryDropdown" class="mb-2 text-sm font-medium text-gray-900 dark:text-white">Country:</label>
                <select name="country" id="countryDropdown" class="w-full p-2 text-gray-900 bg-gray-50 rounded-e-lg border-s-0 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500">
                    <!-- Options will be populated dynamically -->
                </select>
                <div th:if="${#fields.hasErrors('booking.country')}" th:errors="*{booking.country}" class="text-red-500"></div>
            </div>

            <div class="flex items-center space-x-2">
                <label for="countryCodeDropdown"></label>
                <select name="countryCode" id="countryCodeDropdown" class="p-2 text-gray-900 bg-gray-50 rounded-e-lg border-s-0 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" required>
                    <!-- Options will be populated dynamically -->
                </select>

                <label for="phone-input" class="mb-2 ml-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Phone number:</label>
                <div class="relative w-full">
                    <input type="text" id="phone-input" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-0 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="e.g., 123-456-7890" th:field="${booking.phone}" required>
                </div>
            </div>
            <div th:if="${#fields.hasErrors('booking.phone')}" th:errors="*{booking.phone}" class="text-red-500"></div>

            <script>


                async function populateDropdowns() {
                    const countryDropdown = document.getElementById('countryDropdown');
                    const countryCodeDropdown = document.getElementById('countryCodeDropdown');
                    const phoneInput = document.getElementById('phone-input');


                    const response = await fetch('/data');
                    const countryData = await response.json();
                    countryDropdown.innerHTML = '';
                    countryData.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.name;
                        option.text = country.name;
                        countryDropdown.appendChild(option);
                    });
                    countryDropdown.addEventListener('change', function () {
                        const selectedIndex = this.selectedIndex;
                        const selectedCountry = this.options[selectedIndex].value;
                        const selectedCountryData = countryData.find(country => country.name === selectedCountry);
                        if (selectedCountryData && selectedCountryData.dial_code) {
                            // Clear existing options in the country code dropdown
                            countryCodeDropdown.innerHTML = '';

                            // Create a new option for the country code dropdown
                            const countryCodeOption = document.createElement('option');
                            countryCodeOption.value = selectedCountryData.dial_code;
                            countryCodeOption.text = selectedCountryData.dial_code;
                            countryCodeDropdown.appendChild(countryCodeOption);

                            // Update the phone input placeholder
                            phoneInput.placeholder = `e.g., ${selectedCountryData.dial_code}-123-456-7890`;
                        } else {
                            // Handle case where dial code is not available for the selected country
                            console.error('Dial code not available for selected country:', selectedCountry);
                        }
                    });

                    // Trigger change event to initially populate country code dropdown and phone input placeholder
                    countryDropdown.dispatchEvent(new Event('change'));
                }

                // Populate dropdowns when the page loads
                populateDropdowns();



            </script>



            <div class="lg:flex space-x-5 w-full">
            <div class="mb-4">
                <label for="checkin"
                       class="block text-gray-700 font-bold mb-2">Check-in:</label>
                <input type="date" id="checkin" name="check_in" th:field="${booking.checkin}"
                       class="w-full p-2 border rounded-md">
                <div th:if="${#fields.hasErrors('booking.checkin')}" th:errors="*{booking.checkin}"
                     class="text-red-500"></div>
            </div>

            <div class="mb-4">
                <label for="checkout"
                       class="block text-gray-700 font-bold mb-2">Check-out:</label>
                <input type="date" id="checkout" name="check_out" th:field="${booking.checkout}"
                       class="w-full p-2 border rounded-md">
                <div th:if="${#fields.hasErrors('booking.checkout')}" th:errors="*{booking.checkout}"
                     class="text-red-500"></div>
            </div>
        </div>
        <script>
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('checkout').min = today;
            document.getElementById('checkin').min = today;
        </script>

        <div class="mb-4">
            <label for="children"
                   class="block text-gray-700 font-bold mb-2">Number of
                Children:</label>
            <input type="number" id="children" name="children" th:field="${booking.children}"
                   class="w-full p-2 border rounded-md">
            <div th:if="${#fields.hasErrors('booking.children')}" th:errors="*{booking.children}"
                 class="text-red-500"></div>
        </div>

        <div class="mb-4">
            <label for="room_type"
                   class="block text-gray-700 font-bold mb-2">Room Type:</label>
            <select id="room_type" name="room_type" th:field="${booking.room}"
                    class="w-full p-2 border rounded-md">
                <option value="deluxe">Deluxe</option>
                <option value="ensuite">Ensuite</option>
            </select>
            <div th:if="${#fields.hasErrors('booking.room')}" th:errors="*{booking.room}" class="text-red-500"></div>
        </div>

        <div class="mb-4">
            <label for="meal_plan"
                   class="block text-gray-700 font-bold mb-2">Meal Plan:</label>
            <input type="text" id="meal_plan" name="meal_plan" th:field="${booking.mealPlan}"
                   class="w-full p-2 border rounded-md">
            <div th:if="${#fields.hasErrors('booking.mealPlan')}" th:errors="*{booking.mealPlan}"
                 class="text-red-500"></div>
        </div>

        <div class="mb-4">
            <label for="adults"
                   class="block text-gray-700 font-bold mb-2">Number of
                Adults:</label>
            <input type="number" id="adults" name="adults" th:field="${booking.adults}"
                   class="w-full p-2 border rounded-md">
            <div th:if="${#fields.hasErrors('booking.adults')}" th:errors="*{booking.adults}"
                 class="text-red-500"></div>
        </div>
        <div class="mb-4">
            <label for="message"
                   class="block text-gray-700 font-bold mb-2">Message:</label>
            <input type="text" id="message" name="meal_plan" th:field="${booking.message}"
                   class="w-full p-2 border rounded-md">
            <div th:if="${#fields.hasErrors('booking.message')}" th:errors="*{booking.message}"
                 class="text-red-500"></div>
        </div>


        <div class="mb-4">
            <button type="button" id="add_room_btn"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md">Add
                a Room
            </button>
        </div>


        <div id="room_parameters_template" class="hidden">
            <div class="mb-4">
                <label for="room_type"
                       class="block text-gray-700 font-bold mb-2">Room
                    Type:</label>
                <select class="w-full p-2 border rounded-md"
                        name="room_type[]">
                    <option value="deluxe">Deluxe</option>
                    <option value="ensuite">Ensuite</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="adults"
                       class="block text-gray-700 font-bold mb-2">Number of
                    Adults:</label>
                <input type="number" name="adults[]"
                       class="w-full p-2 border rounded-md">
            </div>

            <div class="mb-4">
                <label for="children"
                       class="block text-gray-700 font-bold mb-2">Number of
                    Children:</label>
                <input type="number" name="children[]"
                       class="w-full p-2 border rounded-md">
            </div>

            <div class="mb-4">
                <label for="meal_plan"
                       class="block text-gray-700 font-bold mb-2">Meal
                    Plan:</label>
                <input type="text" name="meal_plan[]"
                       class="w-full p-2 border rounded-md">
            </div>
        </div>
        <div>
            <button type="submit"
                    class="bg-green-500 text-white px-4 py-2 rounded-md">Submit
            </button>
        </div>

    </form>
</div>
</div>`

</body>

</html>
