

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://cdn.tiny.cloud/1/hqj6dtj0bdk0jmh26699fsiv40o59prbqo6dssnkbf7qon4b/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://cdn.tiny.cloud/1/hqj6dtj0bdk0jmh26699fsiv40o59prbqo6dssnkbf7qon4b/tinymce/6/skins/ui/oxide/skin.min.css" />
    <title>add blog </title>

</head>
<body class="bg-gray-100 p-3 bg-opacity-80 " style="background-image: url('/images/house3.png'); background-size: cover; background-position: center; ">
<div th:replace="fragment :: header"></div>
<div class="max-w-[950px] w-3/4 mx-auto bg-white rounded shadow p-6 pt-3 mt-3">

    <form th:action="@{/add_blog}" th:object="${blog}" method="post">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{dateCreated}"/>


        <div class="mb-4">
            <label for="title" class="block text-gray-700 font-bold mb-2">Title:</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="w-full p-2 border rounded-md" required>
        </div>
        <div class="mb-6">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
            <input type="text" id="description" th:field="*{description}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-6">
            <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image link</label>
            <input type="text" id="image" th:field="*{image}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="mb-4">
            <label for="content" class="block text-gray-700 font-bold mb-2">Content:</label>
            <textarea id="content" name="content" th:field="*{content}" class="  bg-opacity-80 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author name',
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ],
                    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
                });
            });
        </script>


        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Publish Blog</button>
    </form>
</div>

</body>
</html>
